In [4]:
list1=[1,2,3,"R",3.4,5.6,"Python"]
list2=["Arun","Piyush","Pooja","Sheela"]
print(list1)
print(list2)
print(type(list1))
print(type(list2))

[1, 2, 3, 'R', 3.4, 5.6, 'Python']
['Arun', 'Piyush', 'Pooja', 'Sheela']
<class 'list'>
<class 'list'>

### A list is an Haterogeneous data type which mean it can accept different data types

In [5]:
list1==list2

False

In [6]:
list1[0]

1

In [7]:
list1[1:5]

[2, 3, 'R', 3.4]

In [8]:
list2[1:3]

['Piyush', 'Pooja']

### We can retrieve elements using index
### We have to use square brackets for lists

In [9]:
list2[-1]="rishabh"
list2

['Arun', 'Piyush', 'Pooja', 'rishabh']

In [10]:
list1[:] # when we put just collens it will print all the list elements

[1, 2, 3, 'R', 3.4, 5.6, 'Python']

In [11]:
list1[0:8:2] # [start index : end index : print the next number like in this case it is printing the second number]

[1, 3, 3.4, 'Python']

In [13]:
list1[1:3]=[20,25]
list1

[1, 20, 25, 'R', 3.4, 5.6, 'Python']

In [14]:
list1[1:3]=[10,20,30,40]
list1

[1, 10, 20, 30, 40, 'R', 3.4, 5.6, 'Python']

### list is mutable which means it can be changed after creation

In [15]:
list3 = list1*2
list3

[1,
 10,
 20,
 30,
 40,
 'R',
 3.4,
 5.6,
 'Python',
 1,
 10,
 20,
 30,
 40,
 'R',
 3.4,
 5.6,
 'Python']

In [16]:
list4 = list1+list2
list4

[1,
 10,
 20,
 30,
 40,
 'R',
 3.4,
 5.6,
 'Python',
 'Arun',
 'Piyush',
 'Pooja',
 'rishabh']

In [17]:
len(list4)

13

In [18]:
list1=[11,12,13,14,15]
for i in list1:
    print(i)

11
12
13
14
15

In [20]:
for i in list2:
    print(i)

Arun
Piyush
Pooja
rishabh

In [21]:
15 in list1

True

In [24]:
17 in list1

False

In [25]:
len(list1)

5

In [26]:
max in list1

False

In [27]:
max(list1)

15

In [28]:
min(list2)

'Arun'

In [29]:
min(list1)

11